@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pokefont";
    src: url(../public/fonts/ThirteenPixelFontsRegular.ttf);
  }
  @font-face {
    font-family: "Code";
    src: url(../public/fonts/SourceCodePro.ttf);
  }
}

body {
  --pokedex: #194485;
  --pokedex_bg: rgba(25, 68, 133, 0.5);
  --fight: #e51b1b;
  --fight_bg: rgba(229, 27, 27, 0.5);
  --creator: #67a814;
  --creator_bg: rgba(103, 168, 20, 0.5);
  --leader: #c8981b;
  --leader_bg: rgba(200, 152, 27, 0.5);
  --nav: #b7b7b7;
  --nav_bg: rgba(183, 183, 183, 0.5);
}

/* ==========================
      Navigation classes
===========================*/

.mask {
  min-width: 1600px;
  height: 50px;
  position: absolute;
  background-color: #2b2b2b;
  z-index: 5;
  margin-top: -30px;
}

.navigation a span {
  transition: all 0.3s ease;
}

.navigation a:hover {
  position: relative;
}

.navigation a:hover span {
  transform: translateX(-65px);
}

.navigation a::after {
  display: block;
  position: absolute;
  right: 5px;
  top: -50px;
  border-radius: 10px;
  height: 44px;
  width: 44px;
  content: "";
  transition: all 0.3s ease;
}

.navigation a:hover:after {
  display: block;
  position: absolute;
  border-radius: 10px;
  height: 44px;
  width: 44px;
  content: "";
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(55px);
}

.navigation a.active::after {
  display: block;
  position: absolute;
  border-radius: 10px;
  height: 44px;
  width: 44px;
  content: "";
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(55px);
}

.navigation a:hover.pokedex,
.navigation a.active.pokedex {
  background-color: var(--pokedex);
  box-shadow: 0 5px 8px var(--pokedex_bg);
}

.navigation a:hover.pokedex span,
.navigation a.active.pokedex span {
  transform: translateX(-60px);
}

.navigation a.pokedex::after {
  background: url(./images/pokedex.png) no-repeat 0 0;
  background-position: center;
  background-size: 32px 32px;
  background-color: var(--pokedex_bg);
  border: 2px solid var(--pokedex);
}

.navigation a:hover.fight,
.navigation a.active.fight {
  background-color: var(--fight);
  box-shadow: 0 5px 8px var(--fight_bg);
}

.navigation a:hover.fight span,
.navigation a.active.fight span {
  transform: translateX(-75px);
}

.navigation a.fight:after {
  background: url(./images/fight.png) no-repeat 0 0;
  background-position: center;
  background-size: 32px 32px;
  background-color: var(--fight_bg);
  border: 2px solid var(--fight);
}

.navigation a:hover.creator,
.navigation a.active.creator {
  background-color: var(--creator);
  box-shadow: 0 5px 8px var(--creator_bg);
}

.navigation a:hover.creator span,
.navigation a.active.creator span {
  transform: translateX(-35px);
}

.navigation a.creator:after {
  background: url(./images/creators.png) no-repeat 0 0;
  background-position: center;
  background-size: 32px 32px;
  background-color: var(--creator_bg);
  border: 2px solid var(--creator);
}

.navigation a:hover.leader,
.navigation a.active.leader {
  background-color: var(--leader);
  box-shadow: 0 5px 8px var(--leader_bg);
}

.navigation a:hover.leader span,
.navigation a.active.leader span {
  transform: translateX(-25px);
}

.navigation a.leader:after {
  background: url(./images/leaderboard.png) no-repeat 0 0;
  background-position: center;
  background-size: 32px 32px;
  background-color: var(--leader_bg);
  border: 2px solid var(--leader);
}

.nav_default,
.nav_pokedex,
.nav_fight,
.nav_creator,
.nav_leader {
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav_default:hover,
.nav_default.active {
  background-color: var(--nav);
  box-shadow: 0 5px 8px var(--nav_bg);
}

.nav_pokedex:hover,
.nav_pokedex.active {
  background-color: var(--pokedex);
  box-shadow: 0 5px 8px var(--pokedex_bg);
}

.nav_fight:hover,
.nav_fight.active {
  background-color: var(--fight);
  box-shadow: 0 5px 8px var(--fight_bg);
}

.nav_creator:hover,
.nav_creator.active {
  background-color: var(--creator);
  box-shadow: 0 5px 8px var(--creator_bg);
}

.nav_leader:hover,
.nav_leader.active {
  background-color: var(--leader);
  box-shadow: 0 5px 8px var(--leader_bg);
}

/* ==========================
    Landing page classes
===========================*/

.landing_page svg {
  width: 700px;
}

/* ==========================
    Pokedex page classes
===========================*/

.pokemon:hover {
  transform: translateY(-10px);
}

.pokemon:hover h2 {
  transform: translateY(15px);
  background-color: var(--pokedex);
  box-shadow: 0 5px 8px var(--pokedex_bg);
}

.pokemon:hover p {
  transform: translateY(0);
}

/* ==========================
    single pokemon page classes
===========================*/

.pokemon_fight:hover {
  background-color: var(--fight_bg);
  border: 2px solid var(--fight);
  position: relative;
}

.pokemon_fight::after {
  display: block;
  position: absolute;
  right: -55px;
  border-radius: 10px;
  height: 48px;
  width: 48px;
  content: "";
  background: url(./images/fight.png) no-repeat 0 0;
  background-position: center;
  background-size: 44px 44px;
  transition: all 0.3s ease;
}

.pokemon_fight:hover:after {
  right: 20px;
}

.pokemon_fight:hover span {
  transform: translateX(-80px);
}

/* ==========================
    Fight page classes
===========================*/

.fight_pokemon:hover {
  background-color: var(--fight_bg);
  border: 2px solid var(--fight);
  position: relative;
}

.fight_pokemon::after {
  display: block;
  position: absolute;
  right: -55px;
  border-radius: 10px;
  height: 48px;
  width: 48px;
  content: "";
  background: url(./images/fight.png) no-repeat 0 0;
  background-position: center;
  background-size: 44px 44px;
  transition: all 0.3s ease;
}

.fight_pokemon:hover:after {
  right: 20px;
}

.fight_pokemon:hover span {
  transform: translateX(-70px);
}

.fight_pokemon_select:hover {
  border: 2px solid var(--fight);
}

.fight_pokemon_select::before {
  content: "chose pokemon";
  position: absolute;
  left: -2px;
  bottom: 215px;
  display: flex;
  justify-content: center;
  width: 240px;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--fight_bg);
  border: 2px solid var(--fight);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.fight_pokemon_select:hover:before {
  content: "chose pokemon";
  position: absolute;
  left: -2px;
  bottom: -2px;
  display: flex;
  justify-content: center;
  width: 240px;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--fight_bg);
  border: 2px solid var(--fight);
  border-radius: 12px;
  z-index: 5;
}
